
<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
    <label>Team Name:</label>
    <input type="text" id= "team[name]" name="team[name]"></br>
    <label>Team Motto:</label>
    <input type="text" id="team[motto]" name="team[motto]"></br>
    <h2>Hero 1</h2>
    <label>Hero's Name: </label>
    <input type="text" name="team[members][][name]" id="member1_name">
    <label>Hero's Power: </label>
    <input type="text" name="team[members][][power]" id="member1_power">
    <label>Hero's Biography:</label>
    <input type="text" name="team[members][][bio]" id="member1_bio">
    <h2>Hero 2</h2>
    <label>Hero's Name: </label>
    <input type="text" name="team[members][][name]" id="member2_name">
    <label>Hero's Power: </label>
    <input type="text" name="team[members][][power]" id="member2_power">
    <label>Hero's Biography:</label>
    <input type="text" name="team[members][][bio]" id="member2_bio">
    <p>
    <h2>Hero 3</h2>
    <label>Hero's Name: </label>
    <input type="text" name="team[members][][name]" id="member3_name">
    <label>Hero's Power: </label>
    <input type="text" name="team[members][][power]" id="member3_power">
    <label>Hero's Biography: </label>
    <input type="text" name="team[members][][bio]" id="member3_bio">
    </p>

    <input type="submit" value="Submit" id="submit">
</form>